{% extends 'app/base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block main-content %}
<head>
  <style>
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  </style>
</head>
<div class="about-section">
  <h1 style="text-align:center">About Us</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="{% static 'app/images/profilepicture.jpg' %}" alt="Jane" style="width:10%" class="center">
      <div class="container" style="text-align:center">
        <h2>Gaurav Shinde</h2>
        <p class="title">CEO & Founder</p>
        <p>MBA professional</p>
        <p>gaurav.shinde.1414@gmail.com</p>
        <p><button class="btn btn-info">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'app/images/profilepicture.jpg' %}" alt="Mike" style="width:10%" class="center">
      <div style="text-align:center" class="container">
        <h2>Labhesh Tandel</h2>
        <p class="title">Product Head</p>
        <p>Mechanical Engineer</p>
        <p>labhesh12@gmail.com</p>
        <p><button class="btn btn-info">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'app/images/profilepicture.jpg' %}" alt="John" style="width:10%" class="center">
      <div style="text-align:center" class="container">
        <h2>Sohan Gaikwad</h2>
        <p class="title">Managing Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>sohan@example.com</p>
        <p><button class="btn btn-info">Contact</button></p>
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}