{% extends 'app/base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block main-content %}
<head>
  <style>
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  </style>
</head>
<div class="about-section">
  <h1 style="text-align:center">About</h1>
  <img src="{% static 'app/images/labhesshh.jpg' %}" alt="Jane" style="width:20%" class="center">
  <p style="font-weight: 500;">Labhesshh has been amongst top wooden cold pressed oil manufacturers in Raigad Maharashtra, Since 2019.We extract oils from various seeds using wooden churner(Lakdi ghana/ kachi ghani)
  we rely on 100% chemical free oil extraction process. Traditional wooden ghani process helps oil to retain its aroma, taste and nutritional values
  which refined oil fails to provide. filtration is done manually with atmost hygiene
  The amount of oil needed for cooking is comparatively less as compared to refined oil. Our vision is to promot healthy food habits to everyone.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="{% static 'app/images/profilepicture.jpg' %}" alt="Jane" style="width:10%" class="center">
      <div class="container" style="text-align:center">
        <h2>Gaurav Shinde</h2>
        <p class="title">Deignated partner</p>
        <p>MBA professional</p>
        <p>gaurav.shinde.1414@gmail.com</p>
        <p><button class="btn btn-info">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'app/images/profilepicture.jpg' %}" alt="Mike" style="width:10%" class="center">
      <div style="text-align:center" class="container">
        <h2>Labhesh Tandel</h2>
        <p class="title">Product Head</p>
        <p>Mechanical Engineer</p>
        <p>labhesh12@gmail.com</p>
        <p><button class="btn btn-info">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'app/images/profilepicture.jpg' %}" alt="John" style="width:10%" class="center">
      <div style="text-align:center" class="container">
        <h2>Sohan Gaikwad</h2>
        <p class="title">Managing Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>sohan@example.com</p>
        <p><button class="btn btn-info">Contact</button></p>
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}